html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #111;
	background: #fff;
	padding: 0;
	margin: 0;
}
#app {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header {
	position: absolute;
	width: 100%;
	height: 42px;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 5px;
}
#view {
	display: table;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 42px;
}
#view-content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
}
.view {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
}
#message {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
#message.visible {
	display: table;
}
#message-inner {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
}
#message-content {
	display: inline-block;
	vertical-align: top;
	color: #f7f7f7;
	background: rgba(0, 0, 0, .9);
	border-radius: 5px;
	padding: 10px;
}
